<div class="container">
	<div class="row box workout_index">
			<h2>Workout一覧(全ユーザー)</h2>
			<!--workout一覧 -->
			<table class="table table-hover table-inverse">
				<thead>
					<tr class="thead_workouts_index">
						<th class="thead_center">メンバー</th>
						<th class="thead_center">日付</th>
						<th class="thead_center">トレーニング場所</th>
						<th class="thead_center">種目</th>
						<th class="thead_center">ターゲット</th>
						<th class="thead_center">重量</th>
						<th class="thead_center">回数</th>
						<th class="thead_center">セット数</th>
						<th class="thead_center"></th>
					</tr>
				</thead>

				<tbody>
					<% @workouts.each do |workout| %>
					<tr>
						<td>
							<%= link_to user_path(workout.user) do %>
							<%= attachment_image_tag(workout.user, :profile_image, :fill, 50, 50, class: "img-circle pull-left profile-img workout-index-profile-img", fallback: "no-image-mini.jpg") %>
							<% end %>
						</td>
						<td class="thead_center"><%= link_to workout.date, workout_path(workout) %></td>
						<td class="thead_center"><%= workout.place %></td>
						<td class="thead_center"><%= workout.menu %></td>
						<td class="thead_center"><%= workout.target %></td>
						<td class="thead_center"><%= workout.weight %>kg</td>
						<td class="thead_center"><%= workout.count %>回</td>
						<td class="thead_center"><%= workout.set %>set</td>
						<!-- いいね機能 -->
				        <td class="thead_center">
				        	<% if workout.favorited_by?(current_user) %>
					            <%= link_to workout_favorites_path(workout), method: :delete do %>
					            <span class="glyphicon glyphicon-heart"><%= workout.favorites.count %></span>
					            <% end %>
				            <% else %>
					            <%= link_to workout_favorites_path(workout), method: :post do %>
					            <span class="glyphicon glyphicon-heart-empty"><%= workout.favorites.count %></span>
					            <% end %>
				            <% end %>
				        </td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<!--books一覧 -->
	</div>
</div>
