<div class="container">
	<div class="row box workout-detail">
			<h2>Workout detail</h2>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>workout No.</th>
						<th>トレーニング場所</th>
						<th>種目</th>
						<th>ターゲット</th>
						<th>重量</th>
						<th>回数</th>
						<th>イイね</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<%= link_to user_path(@workout.user_id) do %>
								<%= attachment_image_tag(@workout.user, :profile_image, :fill, 100, 100, class: "img-circle pull-left profile-img", fallback: "no-image-mini.jpg") %><br><br><br><br><br>
								<%= @workout.user.name %>
							<% end %>
						</td>
						<td><%= @workout.id %></td>
						<td><%= @workout.place %></td>
						<td><%= @workout.menu %></td>
						<td><%= @workout.target %></td>
						<td><%= @workout.weight %></td>
						<td><%= @workout.count %></td>
						<!-- お気に入り機能 -->
			        	<td>
			            <% if @workout.favorited_by?(current_user) %>
			              	<%= link_to workout_favorites_path(@workout), method: :delete do %>
			                	<span class="glyphicon glyphicon-heart"><%= @workout.favorites.count%></span>
			              	<% end %>
			            	<% else %>
			              	<% link_to workout_favorites_path(@workout), method: :post do %>
			                	<span class="glyphicon glyphicon-heart-empty"><%= @workout.favorites.count %></span>
			              	<% end %>
			            <% end %>
			        	</td>
						<td>コメント数：<%= @workout.workout_comments.count %></td>
						<% if @workout.user == current_user %>
							<td><%= link_to "Edit", edit_workout_path(@workout), class: "btn-sm btn-success edit_workout_#{@workout.id}" %></td>
							<td><%= link_to "Destroy", workout_path(@workout), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_workout_#{@workout.id}" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
				<!-- コメント投稿 -->
			<table>
				<% @workout_comments.each do |workout_comment| %>
					<tr>
						<td class="show-comment">
							<%= link_to user_path(workout_comment.user), class: "user_#{workout_comment.user.id}" do %>
								<%= attachment_image_tag workout_comment.user, :profile_image, fallback: "no_image.jpg", size: "50x50" %><br>
								<%= workout_comment.user.name %>
							<% end %>
						</td>
						<td class="show-comment"><%= workout_comment.comment %></td>
						<% if current_user == workout_comment.user %>
							<td><%= link_to 'Destroy', workout_workout_comment_path(@workout, workout_comment), class: 'btn-sm btn-danger', method: :delete %></td>
						<% end %>
					</tr>
				<% end %>
			</table>

		    <div class="comment-form">
			    <%= form_for [@workout, @workout_comment] do |f| %>
				    <%= f.text_area :comment, size: "90x5" %>
				    <%= f.submit '送信', class: "btn-sm btn-primary" %>
			    <% end %>
		    </div>
	</div>
</div>