
<div class="row box profile-edit">
	<h2>Profile編集</h2>

		<%= form_for(@user) do |f| %>
			<table class="table">
				<tr>
					<th class="col-xs-2"><%= f.label :プロフィール画像 %></th>
					<td><%= f.attachment_field :profile_image, class: "user_image" %></td>
				</tr>

				<tr>
					<th><%= f.label :氏名 %></th>
					<td><%= f.text_field :name, class: "name col-xs-6" %></td>
				</tr>

				<tr>
					<th><%= f.label :メールアドレス %></th>
					<td><%= f.text_field :email, class: "email col-xs-6" %></td>
				</tr>

				<tr>
					<th><%= f.label :自己紹介 %></th>
					<td><%= f.text_area :introduction, class: "introduction col-xs-6" %></td>
				</tr>

				<tr>
					<th><%= f.label :目標 %></th>
					<td><%= f.text_area :objective, class: "objective col-xs-6" %></td>
				</tr>
			</table>
				<div class="actions">
					<%= f.submit "Update" %>
				</div>
				<br>
		<% end %>

</div>
