<div class="container">
	<div class="row box">
		<div class="col-xs-7 workout-up">
			<h2 class="workout-up-title">Today's workout投稿</h2>
				<div class="workout-up-form">
					<table class="table">
						<%= form_for(@workout) do |f| %>
							<tr>
								<th><%= f.label :日付 %></th>
								<td><%= f.text_field :date, placeholder: "2020/08/23", class: "col-xs-12 workout_created_at" %></td>
							</tr>
							<tr>
								<th><%= f.label :トレーニング場所 %></th>
								<td><%= f.text_field :place, placeholder: "例)ジム, 自宅", class: "col-xs-12 workout_place" %></td>
							</tr>
							<tr>
								<th><%= f.label :種目 %></th>
								<td><%= f.text_field :menu, placeholder: "例)ベンチプレス, 上体起こし", class: "col-xs-12 workout_menu" %></td>
							</tr>
							<tr>
								<th><%= f.label :ターゲット %></th>
								<td><%= f.text_field :target, placeholder: "例)大胸筋, 腹筋", class: "col-xs-12 workout_target" %></td>
							</tr>
							<tr>
								<th><%= f.label :重量 %></th>
								<td><%= f.text_field :weight, placeholder: "例)80, 自重", class: "col-xs-12 workout_count" %></td>
							</tr>
							<tr>
								<th><%= f.label :回数 %></th>
								<td><%= f.text_field :count, placeholder: "例)20, 30", class: "col-xs-12 workout_count" %></td>
							</tr><br>
						</table>
							<div>
								<%= f.submit :投稿, class: "btn btn-primary col-xs-2 pull-right" %>
							</div>
						<% end %>
				</div>
		</div>
		<div class="col-xs-4 pull-right">
			<h2>Profile</h2>
			<table class="table table-hover table-inverse">
				<tr>
					<td></td>
					<td><%= attachment_image_tag(@user, :profile_image, :fill, 80, 80, class: "img-circle pull-left profile-img", fallback: "no_image.jpg") %>
					</td>
				</tr>
				<tr>
					<td>氏名</td>
					<td><%= current_user.name %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td><%= current_user.email %></td>
				</tr>
				<tr>
					<td>自己紹介</td>
					<td><%= current_user.introduction %></td>
				</tr>
				<tr>
					<td>目標</td>
					<td><%= current_user.objective %></td>
				</tr>
			</table>
			<div>
				<%= link_to '編集', edit_user_path(@user), class: "col-xs-3 btn btn-warning pull-right edit_user_#{@user.id}" %>
			</div>
		</div>

	<section class="your all workouts">

			<div class="col-xs-9">
				<h2 class="your-workouts">あなたの全てのworkout</h2>
				<table class="table table-hover table-inverse">
					<thead>
							<th>日付</th>
							<th>場所</th>
							<th>ターゲット</th>
							<th>重量</th>
							<th>回数</th>
							<th>いいね</th>
						</tr>
					</thead>
					<tbody>
						<% @workouts.each do |workout| %>
						<tr>
							<td><%= workout.date %></td>
							<td><%= workout.place %></td>
							<td><%= workout.target %></td>
							<td><%= workout.weight %>kg</td>
							<td><%= workout.count %></td>
							<td></td>
        				    <td><%= link_to '削除', user_path(@user), class: 'btn-sm btn-danger', method: :delete %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
