<!DOCTYPE html>
<html>
  <head>
    <title>ForIdeal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/06021ba2e9.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>
  <body>
    <!--ヘッダーの記述-->
    <header class="navbar-inverse", style="background-color: #000033;">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>
            <%= link_to root_path do %>
            <%= image_tag "722622.png", class: "logo" %>
            <% end %>
          </span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if user_signed_in? %>
            <li><%= link_to ' Home', user_path(current_user), class: 'fas fa-home', style: "color:white" %></li>
            <li><%= link_to ' Schedule', events_path(current_user), class: 'fas fa-calendar-alt', style: "color:white" %></li>
            <li><%= link_to ' Users', users_path, class: 'fas fa-users', style: "color:white" %></li>
            <li><%= link_to ' Workouts', workouts_path, class: 'fas fa-dumbbell', style: "color:white" %></li>
            <li><%= link_to ' Log out', destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt', style: "color:white" %></li>
            <% else %>
            <li><%= link_to ' Home', root_path, class: 'fas fa-home', style: "color:white" %></li>
            <li><%= link_to ' About', homes_about_path, class: 'fab fa-readme', style: "color:white" %></li>
            <li><%= link_to ' Sign up', new_user_registration_path, class: 'fa fa-user-circle', style: "color:white" %></li>
            <li><%= link_to ' Log in', new_user_session_path, class: 'fas fa-sign-in-alt', style: "color:white" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="container wrapper">
      <%= yield %>
    </div>
    <footer class="footer",　line-height: 50px;>
      <div class="container text-center">
        <div class="row">
        <p class="footer-text", style="color:white">© 2020 For Ideal all rights reserved.</p>
          <div class="social">
            <%= link_to "https://ja-jp.facebook.com" do %>
              <i class="fab fa-facebook-square fa-2x", style="color:white"></i>
            <% end %>
            <%= link_to "https://twitter.com/?lang=ja" do %>
              <i class="fab fa-twitter-square fa-2x", style="color:white"></i>
            <% end %>
            <%= link_to "https://www.instagram.com/?hl=ja" do %>
              <i class="fab fa-instagram fa-2x", style="color:white"></i>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

